//contendido

body{
	background-color: map-get($map:$paleta, $key: 'dos' );
	text-align: center;
	width: 100%;
}
footer{
	h4{
	@include texto(2em, 0.8em, white )
	}
}
 


ul li a{
	animation-name: textAlpha;
	animation-duration: 2s;
}