//fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

$fontMain: 'roboto', sans-serif;

 
h1{
 	@include texto(3em, 1.4em,black);
 }
h2{
	@include texto(2em, 1.4em,rgba(48, 84, 250, .5));

	 }
ul li a{
	@include texto(1.5em, 1.4em,black);
}

a{ 	animation-name: textAlpha;
	animation-duration: 2s;
}
.transition{
	width: 100% ;
	transition: width;
	transition: 1s;
}

.transition:hover{
	width: 30px;
	cursor: pointer;
}
.scale:hover{
	transform: scale(1.2);
	cursor: pointer;
	transition: 3s;
